<section class="post-menu">
    
    <div class="user" id="{{userId}}"></div>
    <form class="post-form">
    <h2>Make post</h2>
    <label for='title'>Title</label>
    <input placeholder="title" type="text" id="title" name="title" required>
    <label for='text'>Text</label>
    <input placeholder="text" type="text" id="text" name="text" required>

    <input type="submit" value="post">
    </form>
</section>
<script src="/js/post.js"></script>