* {
  padding: 0px;
  margin: 0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 50px;
}

header {
    color:white;
    height: 75px;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

nav {
    margin:50px;
    display: flex;
    flex-direction: row;
    
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    
}

li {
    margin-left: 50px ;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

header nav ul li {
    color:white;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin-top:200px;
    border: solid black;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form * {
    margin:5px;
}

.signup-form {
    margin-top:200px;
    border: solid black;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form * {
    margin:5px;
}

.post {
    width: 1000px;
    margin: 25px;
    padding: 25px;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.post * {
    margin:15px;
}

.post-partial {
    margin: 50px;
    display: flex;
    flex-direction: column;
    border: solid black;
    align-items:left;
    padding: 25px;
}


.post-partial * {
    margin: 15px;
}

.post-partial div {
    display: flex;
    align-items: center;
}

.post-form {
    margin:250px;
    border:solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-form * {
    margin:10px;
}

.comment-form {
    margin: 150px;
    border:solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form * {
    margin:5px;
}


    
#comment {
    margin: 10px;
}

#gotoComments{
    color:black;
    margin-left:500px;
    margin-right:500px;
}